<!-- About Me -->

    <div id="about-me">
        <div class="container-about text-center bg-header">

            <div class="card-about center-block">
                <h1>About me</h1>
            </div>


            <br>
            <div class="row">

                <div class="col-md-6">
                    <div class="card center-block">
                        <img src="assets/img/image2993.png" alt="me">

                        <div class="container-fluid container-card">
                            <h4><b>Aris Supriyanto</b></h4>
                            <p>Developer</p>

                        </div>

                    </div>
                </div>
                <br>
                <div class="col-md-4 center-block">
                    <div class="card-b">
                        <h2><b> Aris Supriyanto</b></h2>
                        <h3>I Am Study Python, Django, Java and Linux Based in Yogyakarta, Indonesia</h3>

                    </div>

                    <br>
                    <button class="btn-pr btn-lg">Python</button>
                    <button class="btn-pr btn-lg">Django</button>
                    <button class="btn-pr btn-lg">Java</button>
                 </div>

                <div class="col-md-2">
                    <ul class="list-inline">
                        <li><a class="fa-github fa" href="#"></a></li>
                        <li><a class="fa-facebook fa" href="#"></a></li>
                        <li><a class="fa-twitter fa" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>