
    <!-- Project -->
    <div id="project">
        <div class="container-dewe text-center bg-self">
            <div class="row">
                <div class="col-lg-12">
                    <h2><b>Project</b></h2>
                <br>
                <div class="project">
                    <div class="row center-block">
                        <div class="col-sm-4">
                            <img src="assets/img/py.png" alt="python">
                            <h4><b>Python Language</b></h4>
                            <a href="#python" class="btn-dewe">View More Projects with Python</a>
                        </div>
                        <div class="col-sm-4">
                            <img src="assets/img/django.png" alt="django">
                            <h4><b>Django Framework</b></h4>

                            <a href="#django" class="btn-dewe">View More Projects with Django</a>
                        </div>
                        <div class="col-sm-4">
                            <img src="assets/img/java.png" alt="java">
                            <h4><b>Java</b></h4>
                            <a href="#java" class="btn-dewe">View More Projects with Java</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>